{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>

    <!-- Agrega el script de Folium -->
    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet/dist/leaflet.css"
        integrity="sha512-cUkEofb6z6O5/Dw7AnQgY44/LWGBjGgB20GJ4jb6U2qJX0MWBp9+e6fXbt8+B/T6GjzVUxfubAmYuW3hAXzgFA=="
        crossorigin=""
    />
    <script
        src="https://unpkg.com/leaflet/dist/leaflet.js"
        integrity="sha512-+TkL6Q7P6Vu+7FOe1j2zomkN8l+L8hBYRv6SoLw/QvR8hK5QwNsm9iuqBXPHxxfo0VHL8jbq7PBhrG8bB1IZDfA=="
        crossorigin=""
    ></script>
</head>
<body>
    {% include 'mapap/navega.html' %}
    
    <section id="pantalla-div">
        <div class="izquierda">
            {% block content %}
            {% endblock %}
        </div>
        <div class="derecha">
            <div class="lista"></div>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
        function cargarMapa(vista) {
            fetch('/' + vista + '/')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error(error));
        }
    </script>
</body>
</html>

</body>
</html>
